# Exclude archived project files
.archive/*

# Exclude Pycharm data
.idea/*

# Exclude pyc data
*.pyc

# Exclude secrets
/secrets/

# Exclude data directory
data/*

# Maintain data samples for cauth
!data/samples/
data/samples/*
!data/samples/cauth/
!data/samples/cont/
!data/samples/bidder/


